<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{error}} - Halaman Tidak Ditemukan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/error404.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{error}}</h1>
        <h2>{{text[0]}}</h2>
        <p>
            {{text[1]}}
        <br>
            {{text[2]}}
        </p>
        
        {% if back == "Dashboard" %}
            <a href="/" class="home-button">Kembali ke {{back}}</a>
        {% elif back == "Login" %}
            <a href="/" class="home-button">Kembali ke {{back}}</a>
        {% endif %}
        <div class="img"></div>
    </div>
</body>
</html>